[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"
celery = {extras = ["redis"], version = "*"}

[dev-packages]
watchdog = "*"
argh = "*"

[requires]
python_version = "3.9"
